<DOCTYPE html>
<html>
<head>
<title>Les Zoreilles</title>
<link rel="stylesheet" href="/bootstrap-3.0.3.css" />
<style type="text/css">
/*-- Your CSS here --*/
</style>
</head>

<body>
  <!-- Your HTML here -->
</body>

<!-- Backbone, jQuery, LoDash and Bootstrap -->
<script src="/lodash-2.4.1.compat.js"></script>
<script src="/jquery-1.10.2.js"></script>
<script src="/backbone-1.0.0.js"></script>
<script src="/bootstrap-3.0.3.js"></script>

<script type="text/javascript">
/*-- Your JS here --*/
</script>
</html>
