<DOCTYPE html>
<html>
<head>
<title>Les Zoreilles</title>
<link rel="stylesheet" href="/bootstrap-3.0.3.css" />
<style type="text/css">
/*-- Your CSS here --*/
</style>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Les Zoreilles</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <% @zoreilles.each do |z| %>
          <div class='panel panel-default'>
            <div class='panel-body'>
              <p class='lead'>&laquo;<%= z.body %>&raquo;</p>
              <p class='text-right'>
                <small>
                  le <%= z.created_at %>
                  par <%= z.username %>
                </small>
              </p>
            </div>
          </div>
        <% end %>
        <div class="well well-sm">
          <form action="/zoreilles" method="post">
            <div class="form-group">
              <textarea name="body" class="form-control">Il paraît que</textarea>
            </div>
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="pseudo"/>
            </div>
            <div class="form-group text-right">
              <input type="submit" value="Publier" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Backbone, jQuery, LoDash and Bootstrap -->
<script src="/lodash-2.4.1.compat.js"></script>
<script src="/jquery-1.10.2.js"></script>
<script src="/backbone-1.0.0.js"></script>
<script src="/bootstrap-3.0.3.js"></script>

<script type="text/javascript">
/*-- Your JS here --*/
</script>
</html>
