<DOCTYPE html>
<html>
<head>
<title>Les Zoreilles</title>
<link rel="stylesheet" href="/bootstrap-3.0.3.css" />
<style type="text/css">
/*-- Your CSS here --*/
</style>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Les Zoreilles</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div id="zoreilles"></div>
        <div class="well well-sm">
          <form action="/zoreilles" method="post">
            <div class="form-group">
              <textarea name="body" class="form-control">Il paraît que</textarea>
            </div>
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="pseudo"/>
            </div>
            <div class="form-group text-right">
              <input type="submit" value="Publier" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Backbone, jQuery, LoDash and Bootstrap -->
<script src="/lodash-2.4.1.compat.js"></script>
<script src="/jquery-1.10.2.js"></script>
<script src="/backbone-1.1.2.js"></script>
<script src="/bootstrap-3.0.3.js"></script>

<script type="text/javascript">
var ZoreilleView = Backbone.View.extend({
  template: _.template("<div class='panel panel-default'> \
      <div class='panel-body'> \
        <p class='lead'>&laquo;${body}&raquo;</p> \
        <p class='text-right'> \
          <small> \
            le ${created_at} \
            par ${username} \
          </small> \
        </p> \
      </div> \
    </div>"),
  render: function() {
    this.$el.html(this.template(this.model.attributes));
    return this;
  },
});

var ZoreillesView = Backbone.View.extend({
  initialize: function() {
    this.model.on('add remove reset', this.render, this);
  },
  render: function() {
    var $el = this.$el.empty();
    this.model.each(function(z){
      $el.append(new ZoreilleView({model: z}).render().$el);
    });
  }
});

var Zoreilles = Backbone.Collection.extend({
  url: '/zoreilles'
});

$(function() {
  var zoreilles = new Zoreilles();
  var zoreilles_view = new ZoreillesView({
    model: zoreilles,
    el: $('#zoreilles')
  });
  zoreilles_view.render();
  zoreilles.fetch();
  window.setInterval(function(){zoreilles.fetch()}, 1000);

  $('form').on('submit', function(e) {
    var $body = $(this).find('[name="body"]');
    var $username = $(this).find('[name="username"]');
    $.post('/zoreilles', {
      body: $body.val(), username: $username.val()
    }).success(function(){
      $body.val('');
    });
    return false;
  })
});
</script>
</html>
